html(lang='en')
	head
		title Crash Here
		link(rel='stylesheet' href='style.css')
		link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' crossorigin='anonymous')
		link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Poppins:400,700')
		script(src='http://use.fontawesome.com/233e2e829d.js')

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="HandheldFriendly" content="true")
		meta(name="theme-color" content="#35343D")
		meta(name="msapplication-navbutton-color" content="#35343D")
		meta(name="apple-mobile-web-app-status-bar-style" content="#35343D")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-touch-fullscreen" content="yes")
		meta(name="application-name" content="Crash Here")
		meta(name="description" content="Crash Here - Emergency Housing for people who are at risk.")
		meta(property="og:title" content="Crash Here")
		meta(property="og:description" content="Crash Here - Emergency Housing for people who are at risk.")
		meta(property="og:image" content="https://crashhere.space/Hero%202%20Desktop.jpg")
		meta(property="og:url" content="https://crashhere.space")
		meta(name="twitter:title" content="Crash Here")
		meta(name="twitter:description" content="Crash Here - Emergency Housing for people who are at risk.")
		meta(name="twitter:image" content="https://crashhere.space/Hero%202%20Desktop.jpg")
		meta(name="twitter:card" content="https://crashhere.space")

		link(rel='manifest', href='/static/manifest.json')
		link(rel='shortcut icon', href='/static/favicon.ico')
		link(href=`/${assets["main.css"]}`, rel='stylesheet')

	body
		noscript
			.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4

				.logo
					a.logo__title(href='/')
						i.fa.fa-home(aria-hidden="true")
						=" "
						| Crash

				.search
					h1 Where are you right now?
					p.lead 
						| Enter your location to find the closest place you can get help at.
						br
						| You can search for e.g. "City Centre", "Ponsonby" or "Mt Eden"

					form(method='post' action='/results')
						input.form-control(type='search' placeholder='Enter your current location' name='query')

						button.btn.btn-default(type='submit') Find

		#root

		script(src='http://js.api.here.com/v3/3.0/mapsjs-core.js', type='text/javascript', charset='utf-8')
		script(src='http://js.api.here.com/v3/3.0/mapsjs-service.js', type='text/javascript', charset='utf-8')
		script(src='http://js.api.here.com/v3/3.0/mapsjs-mapevents.js', type='text/javascript', charset='utf-8')
		script(type='text/javascript', src=`/${assets["main.js"]}`)
