* {
	font-family: 'Poppins', sans-serif;
}
body.black, html.black {
	background-color: black;
}

.btn.btn-default, .btn.crashhere-button {
	border-radius: 100px;
	background-color: #76FF03;
	border: none;
	font-size: 16px;
	font-weight: bold;
	padding: 16px 80px;
	line-height: 24px;
	color: #35343D;
}

.btn.btn-default:hover, .btn.crashhere-button:hover {
	background-color: #B2FF59;
	text-decoration: none;
}

.btn.btn-default:active, .btn.crashhere-button:active, .btn.btn-default:active:hover, .btn.crashhere-button:active:hover, .btn.btn-default:active:focus, .btn.crashhere-button:active:focus {
	background-color: #CCFF90;
}
.btn.btn-default:focus, .btn.crashhere-button:focus {
	background-color: #B2FF59;
	text-decoration: none;
}

/* header */
.header {
	margin-top: 20px;
	height: 21px;
}
.header__title {
	color: #35343D;
	font-size: 16px;
	text-align: center;
	width: 100%;
}

/* logo */
.logo__title {
	height: 24px;
	width: 280px;
	color: #35343D;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 56px;
}

.header__back {
	color: #35343D;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	float: left;
	box-shadow: 0 0 black;
	margin-top: -22px;
}
a.header__back:hover {
	color:black;
}

a.logo__title:focus,a.logo__title:active {
	color:black;
	text-decoration: none;
}
a.logo__title:hover {
	color:black;
	text-decoration: underline;	
}

/* search main */

.search h1 {
	color: #35343D;
	font-size: 16px;
	font-weight: 600;
	line-height: 32px;
}
.search p.lead {
	color: #35343D;
	font-size: 16px;
	line-height: 32px;
}

.search .form-control {
	border-radius: 100px;
	border: 3px solid #76FF03;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 22px;
	line-height: 24px;
	box-sizing: border-box;
	height: 59px;
	border: 3px solid #76FF03;
	border-radius: 100px;
}
.search .btn-default {
	margin-top: 15px;
}

/* results */

.shelter {
	margin-top: 40px;
}
.shelter h2 {
	color: #35343D;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
}
.shelter .btn-default {
}

.shelter__phone {
	margin-left: 10px;
}

.shelter-extra {
	margin-top: 40px;
}

.shelter-list p.lead {
	margin-top: 40px;
}



/* Landing page */
.screen {
	height: 100%;
	width: 100%;
	background-color: black;
}

.screen tr {
	background-size: cover;
	background-position: center;
}

.screen.screen--first .screen__content {
	text-align: center;
}
.screen.screen--rising-hands tr {
	background-position: left;
}
@media (min-width: 992px) {
	.screen.screen--rising-hands tr {
		background-position: center;
	}
}
.screen.screen--white {
	background-color: white;
}
.screen.screen--call-for-action tr {
	vertical-align: top;
}
.screen.screen--call-for-action .screen__content {
	margin-top: 44px;
}
.screen.screen--call-for-action .btn.btn-default.crashhere-button {
	margin-top: 111px;
}
@media (min-width: 992px) {
	.screen.screen--call-for-action tr {
		vertical-align: middle;
	}
	.screen.screen--call-for-action .btn.btn-default.crashhere-button {
		display: none;
	}

}
.screen.screen--footer {
	height: 33%;
}

.screen table, .screen tr, .screen td {
	width: 100%;
}

.screen a:focus, .screen a:hover {
	color: #3c3c3c;
	text-decoration: underline;
}
.screen a {
	color: #9c9c9c;
	text-decoration: none;
}

.block-vertical-middle {
	height: 100%;
}
.block-vertical-middle tr {
	height: 100%;
	vertical-align: middle;
}
.block-vertical-middle td {

}


.screen h1 {
	color: #FFFFFF;
	font-size: 64px;
	font-weight: bold;
	margin-bottom: 30px;
}
.screen h2 {
	color: #FFFFFF;
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 20px;
}
@media (max-width: 640px) {
	.screen h1 {
		font-size: 32px;
	}
	.screen h2 {
		font-size: 32px;
	}
}

.screen p.lead {
	color: white;
	line-height: 32px;
	font-size: 24px;
}

.screen p.lead.lead--small {
	color: white;
	line-height: 32px;
	font-size: 18px;
}

@media (max-width: 640px) {
	.screen p.lead {
		font-size: 16px;
	}
	.screen p.lead--small {
		font-size: 16px;
	}
}

.screen--white h1 {
	color: #35343D;
}
.screen--white h2 {
	color: #35343D;
}
.screen--white p.lead {
	color: #35343D;
}
.screen--white p.lead.lead--small {
	color: #35343D;
}
.screen .btn-container {
	margin-top: 30px;
	margin-right: 30px;
	display: inline-block;
}

@media (max-width: 640px) {
	.screen .btn-container {
		margin-right: 0;
		margin-left: 0;
		display: block;
	}
}
